:root {
  --primary-dark: #333;
  --primary-light: #f1ebe7;
  --cta: rgb(157, 51, 157);
  --purple: rgb(174, 78, 174);
  --warning: rgb(172, 1, 1);
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
  transition: 150ms;
}
html {
  font-size: 16px;
}
body {
  /*
  background-image: linear-gradient(
    to bottom right,
    var(--purple),
    var(--primary-light),
    var(--purple)
  );*/
  background-color: var(--primary-light);
  overflow-x: hidden;
}

header {
  padding: 2em;
  text-align: center;

  h1,
  p {
    margin-bottom: 1em;
  }
}
h2,
h3 {
  font-weight: 500;
}
a,
button,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

fieldset {
  border: none;
}
fieldset:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.main {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2em;
  width: 90%;
}
.link {
  padding: 1em;
  color: var(--cta);
  margin-bottom: 2em;
}
.link:hover {
  font-size: 1.2em;
}
.error-message {
  color: red;
  margin: 1em;
  padding: 1em;
}
/* FORM and QUIZ */
.information-form,
.quiz-container,
.result-container {
  width: 70%;
  margin: 1em auto;
}

.form-group,
.answers {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
}
input {
  padding: 0.5em;
  font-size: 1.2em;
  max-width: 50ch;
}
.required-marker {
  color: var(--warning);
  font-size: 1.2em;
  margin-left: 0.6em;
}
.form-group label,
.answers label {
  display: inline-flex;
  align-items: stretch;
  margin-bottom: 0.8em;
}

.answers input[type="checkbox"],
.answers input[type="radio"] {
  margin-right: 1em;
  transform: scale(1.5);
}
.submit-btn {
  letter-spacing: 0.8px;
  padding: 0.8em;
  background-color: var(--cta);
  color: var(--primary-light);
  border: none;
  text-transform: uppercase;
  box-shadow: 1px 3px 2px 1px var(--primary-dark);
}
.submit-btn:hover {
  background-color: var(--primary-light);
  color: var(--cta);
}

/* RESULT and LEADERBOARD */
.leader-board {
  background: var(--purple);
  color: var(--primary-light);
  padding: 2em;

  h3 {
    text-transform: uppercase;
  }

  .board-details {
    margin-top: 1.5em;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 60% auto;
    border-bottom: 1px solid var(--primary-light);
  }
}

.leaderboard-div {
  display: grid;
  grid-template-columns: 60% auto;
  margin-top: 1em;
  text-transform: capitalize;
}
